@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);

body {
  font-family: "PT Serif", serif;
  margin-left: 36px;
  margin-right: 36px;
  font-size: 97%;
  line-height: 1.332;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-top: -10px;
}

h2 {
  margin-top: 25px;
  margin-bottom: -10px;
  color: #CB0063;
}

h4 {
  margin-bottom: -10px;
}

p {
  margin-bottom: -8px;
}

ul {
  margin-bottom: -8px;
}

li {
  margin-left: -10px;
  margin-bottom: 2px;
  list-style: none;
}

li:before {
  content:"·";
  font-size: 30px;
  margin: 0 0 0 -14px;
  line-height: 16px;
  float: left;
}

.separator {
  padding-top: 70px;
}
